h1 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 2rem;
}

input {
    padding: 0.5rem 1rem;
    width: 100%;
    
    border-radius: 30px;
    border: none;
    background-color: var(--ion-color-light);
}
input:focus {
    outline: none;
}

button {
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    background-color: var(--ion-color-light-tint);
}
button:focus {
    outline: none;
}
button:hover {
    background-color: var(--ion-color-light);
}